File upload and Content-Disposition params

According to this, which points to <a href="https://tools.ietf.org/html/rfc6266#section-4.1">RFC 6266 section 4.1</a>, Content-Disposition parameters are not necessarily quoted.

This is what my client tries to send:
Content-Type: image/jpeg
Content-Disposition: form-data; filename=avatar.jpg; name=file

It is correct, according to RFC.
However, BaasBox fails with "missing the file data in the body payload" error.

If I change the request to:
Content-Disposition: form-data; filename="\"avatar.jpg\""; name="\"file\""
It works, but filename in BaasBox console is quoted. 


It may be a limitation of the Play Framework we use.

However there is no need to escape quotes.
This should work (and actually is how Chrome sends file to BaasBox):
Content-Disposition: form-data; name="file"; filename="avatar.jpg"
Content-Type: image/jpeg


I access BaasBox from Akka HTTP, and it does not quote values if they do not contain special characters. They say it is not a bug but per RFC https://github.com/akka/akka/issues/18788

I use a workaround - placing " character in values to force Akka HTTP to quote values. 

Root cause: https://github.com/playframework/playframework/issues/6275
